body,
html {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-image: url('./public/images/background.png');
  background-size: cover;
  min-height: 100vh;
}

.input-container {
  border-radius: 10px;
  background-color: #ffc1c1;
  width: 80vw;
  z-index: 1;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.main-heading {
  font-size: 2.2rem;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  margin-top: 1rem;
}

.subheading {
  font-size: 1.55rem;
  font-weight: lighter;
  text-align: center;
  text-shadow: 0px 3px 4px #00000060;
  margin: 0;
  margin-bottom: 20px;
}

.next-button {
  border-radius: 15px;
  background-color: #7e5b5b;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  border: none;
  box-shadow: 0px 4px 4px 0 #00000025;
  padding: 5px 1.5rem;
  transition: color 1s ease-in-out;
}

.next-button:hover {
  transition: color 0.5s ease-in-out;
  background-color: #7e5b5b98;
  box-shadow: 0px 4px 4px 0 #00000025;
}

.arrow {
  height: 15px;
  width: 32px;
  margin-left: 0.8rem;
}

.inputs-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem 0;
}

.input-label {
  font-size: 1.1rem;
  min-width: 55%;
  margin-right: 5%;
}

.input-field {
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  min-width: 40%;
}

.sub-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 48%;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0rem 0;
}

.radio-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  margin-left: 30px;
}

.required {
  color: red;
  font-size: 1.5rem;
  margin-left: 2px;
}

.info-button {
  border-radius: 15px;
  background-color: #7e5b5b;
  box-sizing: border-box;
  display: inline;
  color: white;
  font-size: 12px;
  border: none;
  box-shadow: 0px 4px 4px 0 #00000025;
  font-weight: 900;
  margin-left: 10px;
  cursor: pointer;
  font-family: serif;
}

@media (max-width: 900px) {
  .subheading {
    margin-bottom: 20px;
  }
  .inputs-wrapper {
    flex-direction: column;
  }
  .field-container {
    width: 150%;
  }
}

@media (min-width: 1080px) {
  .inputs-wrapper {
    gap: 5rem;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1vh;
  width: 75%;
  font-family: 'PT Sans';
  border-radius: 5px;
}

.table {
  width: 100%;
  border: 2px solid #ff3e3e;
  border-radius: 5px;
}

.table-header {
  display: flex;
  width: '100%';
  background: #ff6c6c;
  padding: (12px * 1.5) 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: (12px * 1.5) 0;
}

.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
  padding: 13px 0;
  font-size: 1.1rem;
}

.header__item {
  font-size: 1.3rem;
  font-weight: bold;
}
#even {
  background-color: #ffd1d1;
}
#odd {
  background-color: #ffe0e0;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
#sub2 {
  font-size: 2.2rem;
}
.container2 {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  font-family: 'PT Sans';
  border-radius: 5px;
  font-size: 5px;
}
